@using FinanceBlazor.Enum
@inject DialogService DialogService

<div class="flex items-center justify-center flex-col gap-4">

    <RadzenFormField Text="Nome" Variant="Variant.Outlined" Style="width: 100%;"> 
        <RadzenTextBox @bind-Value="@Name" />
    </RadzenFormField>
    <RadzenNumeric TValue="double" Format="c" @bind-Value=@Price InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "enter value" }})" Style="width: 100%;"/>

    <div class="flex items-center justify-center w-full gap-2">
        <button class="py-4 px-2 flex items-center justify-center  rounded-md border gap-2 w-full
                       @(Type == TypeTransaction.Income ? "bg-mygreen text-white font-bold" : "bg-gray-100")"
                @onclick="() => Type = TypeTransaction.Income">
            <i class="fa-solid fa-circle-arrow-up @(Type == TypeTransaction.Income ? "text-white" : "text-green-500") text-2xl"></i>
            Entrada
        </button>

        <button class="py-4 px-2 flex items-center justify-center rounded-md border gap-2 w-full
                       @(Type == TypeTransaction.Expense ? "bg-myred text-white font-bold" : "bg-gray-100")"
                @onclick="() => Type = TypeTransaction.Expense">
            <i class="fa-solid fa-circle-arrow-down @(Type == TypeTransaction.Expense ? "text-white" : "text-red-500") text-2xl"></i>
            Saída
        </button>
    </div>

    <RadzenFormField Text="Categoria" Variant="Variant.Outlined" Style="width: 100%;">
        <RadzenTextBox @bind-Value="@Category" />
    </RadzenFormField>
    
    <button class="flex items-center justify-center @(Type == TypeTransaction.Income ? "bg-mygreen " : "bg-myred")   text-white font-bold font-2xl w-full p-4 rounded-md border">
        Cadastrar

    </button>

</div>


@code {
    private string Name { get; set; } = "";
    private double Price { get; set; } = 0;
    private TypeTransaction Type { get; set; } = TypeTransaction.Income;
    private string Category { get; set; } = "";

    void SaveTransaction()
    {
        // Aqui você pode chamar uma API ou salvar os dados de outra forma
        DialogService.Close(true); // Fecha o diálogo e retorna "true"
    }

    void CloseDialog()
    {
        DialogService.Close(false); // Fecha o diálogo sem salvar
    }

}
